<div class="container events__detail u-h-full">
    <ng-container *ngIf="loading;else content">
        <app-loader data-testid="loader"></app-loader>
    </ng-container>
    <ng-template #content>
        <div class="events__detail__content u-d-grid u-h-full">
            <div>
                <h2 class="sessions__title u-my-5" style="text-align: center;">Sesiones disponibles</h2>
                <app-session-list [eventSessions]="event?.sessions || []" [error]="error"></app-session-list>
            </div>
        </div>
    </ng-template>

</div>