<div class="container events__detail u-h-full">
    <ng-container *ngIf="loading;else content">
        <app-loader data-testid="loader"></app-loader>
    </ng-container>
    <ng-template #content>
        <a class="btn btn--primary u-my-3" [routerLink]="['/catalog']">← Back</a>
        <div class="events__detail__content u-d-grid">
            <div>
                <h2 class="text-center u-my-5">Sesiones disponibles</h2>
                <app-session-list [eventSessions]="event?.sessions || []" [error]="error"
                    [eventId]="event?.event?.id || ''" [eventTitle]="event?.event?.title || ''"></app-session-list>

            </div>
            <div>
                <h2 class="text-center u-my-5">Tickets seleccionados</h2>
                <app-shopping-cart></app-shopping-cart>
            </div>
        </div>
    </ng-template>

</div>