<div class="sessions__list">
    <ng-container *ngIf="error;else data">
        <div class="sessions__list__error">
            <span class="color-error">{{error}}</span>
        </div>
    </ng-container>
    <ng-template #data>
        <ul class="u-p-3 sessions__list__items">
            <li *ngFor="let session of eventSessions | orderByDateAsc : 'date' : 'ASC'">
                <app-session-list-item [session]="session" [eventId]="eventId"
                    [eventTitle]="eventTitle"></app-session-list-item>
            </li>
        </ul>
    </ng-template>
</div>